/* Variables */
:root {
  --std-padding: 24px;
  /* Colors */
  --color-light-cyan: #D1FEF7;
  --color-cream: #fefcc0;
  --color-ming: #3b6a74;
  --color-rich-black: #02202b;
  --color-persimmon: #F55A00;
  --color-persimmon-light: #FF7E33;
}

/* General */
body,
html {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: 'Schoolbell', cursive;
}

h1, h2, h3, h4, h5, h6, footer{
  font-family: 'Grape Nuts', cursive;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}


/* Nav */
.navbar {
  position: absolute;
  top: 0;
  right: 20px;
  left: 20px;
}

.navbar-logo {
  width: 16vw;
  height: auto;
}

.socialicons a {
  padding: 0px 5px;
}


/* Content */
.headerimage {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10%;

  background-image: url("img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#maincontent {
  padding: 2rem 0rem;
}


/* Buttons */
.btn {
  text-transform: uppercase;
  border-radius: 50px;
}

.btn-primary {
  background-color: var(--color-persimmon);
  border-color: var(--color-persimmon);
  transition: transform 666ms, background-color 666ms, border-color 666ms;
}
.btn-primary:hover {
  transform: scale(1.1);
  background-color: var(--color-persimmon-light);
  border-color: var(--color-persimmon-light);
}

.btn-xl {
  padding: 1em 2em;
}


/* Footer */
footer {
  width: 100%;
  height: 10vh;
  background-color: var(--color-rich-black);
  color: #fff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--color-light-cyan);
}

footer ul {
  list-style: none;
  display: flex;
  column-gap: 1.5em;
  margin-bottom: 0px;
  padding-left: 0px;
}

.footercontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  height: 100%;
}

.photocredits {
  align-self: flex-end;
  padding-bottom: 0.5em;
}
